<html>
    <body>
        <center>
            <h1>The server operating system: {{ ansible_distribution }} </h1>
            <hr>
            <h1>The server hostname: {{ ansible_hostname }} </h1>   
        </center>
    </body>
</html>